.Dictionary h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 20px;
    display: block;
    line-height: 29px;
    color: #212529

}

.Dictionary section {
  background:#fff;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
    display: block;
    height: 64px;
    color: #666;
    font-size: 18px;
    line-height: 21px;
    padding: 22px;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 100%;
}


.Dictionary .hint {
  font-size: 11px;
  margin-top: 12px;
  font-weight: 400;
  color: #212529;
  line-height: 1.5;
  display: block;
  font-size: .875em;
}